@import "tailwindcss";

@theme {
  --color-primary: #138a7f;
  --color-primary-foreground: #ffffff;
  --color-secondary: #e2242a;
  --color-secondary-foreground: #ffffff;
  --color-accent: #fcd116;
  --color-accent-foreground: #000000;
  --color-muted: #c9c9c9;
  --color-muted-foreground: #333333;
  --radius-sm: 0.5rem;
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}